@page
@model BulkyWebRazor_Temp.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit Category";
}

<form asp-page="/categories/edit" method="post">
	<input type="hidden" asp-for="Category.Id" />

    <div class="border p-3 mt-4 shadow-lg rounded-2">
        <div class="row pb-3">
            <h2><span class="text-primary">E</span>dit <span class="text-primary">C</span>ategory</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6">
                <a asp-page="/categories/index" class="btn btn-outline-secondary border form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

